:root {   
    /* Typography */
    --textHuge : 60px;
    --textXJumbo : 48px;
    --textJumbo : 26px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 34px;
    --roundedXLG : 20px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 10px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --successBG : #15DDAB;
    --successDarkBG : #00b35a;
    --warningBG : #E14D5B;
    --warningDarkBG : #D5534C;
    --infoBG : #00A8D8;
    --infoLightBG : #E7F4FE;
    --hoverBG : #F2F2F2;

    --primaryColor : #ff6d0b;
    --blackColor : #13151a;
    --whiteColor : #FFFFFF;
    --greyColor : #C3C3C3;
    --shadowColor : #808080;
}

.content-grid {
    width: 1280px;
    margin-inline: auto;
}

.btn-outline {
    background: var(--whiteColor);
    border-radius: var(--roundedJumbo);
    color: var(--primaryColor);
    font-weight: bold;
    border: 2px solid var(--primaryColor);
}
.dropdown-menu {
    border-radius: var(--roundedMD);
    padding: var(--spaceMD);
}
.dropdown-item {
    padding: var(--spaceMD);
}
.dropdown-item:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
    border-radius: var(--roundedSM);
}

.bg-primary {
    background: var(--primaryColor);
}

.imp {
    color: var(--primaryColor);
    font-weight: bold;
}
.box-info {
    max-width: 680px; 
    font-size: var(--textXLG);
    margin-inline: auto;
}
.box-card {
    text-align: start;
    padding: var(--spaceLG);
    border-radius: var(--roundedLG);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.btn-primary {
    background: var(--primaryColor);
    border: none;
}
.btn {
    font-weight: 600;
    border-radius: var(--roundedJumbo);
}

.bg-primary {
    background: var(--primaryColor) !important;
}
input, select {
    border-radius: var(--roundedLG) !important;
    padding: var(--spaceXMD) var(--spaceLG) !important;
}

.normal-price {
    color: var(--greyColor);
    font-size: var(--textXLG);
    margin-bottom: 0;
    text-decoration: line-through;
}
.discount-price {
    color: var(--primaryColor);
    margin-bottom: 0;
    font-weight: 600;
    font-size: var(--textJumbo);
}